<?xml version="1.0" encoding="UTF-8"?>
<!--<Configuration>-->
<!--    <Appenders>-->
<!--        <Console name="STDOUT" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>-->
<!--        </Console>-->
<!--        <RollingFile name="RollingFile" fileName="logs/strutslog1.log"-->
<!--                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">-->
<!--            <PatternLayout>-->
<!--                <Pattern>%d{MM-dd-yyyy} %p %c{1.} [%t] -%M-%L- %m%n</Pattern>-->
<!--            </PatternLayout>-->
<!--            <Policies>-->
<!--                <TimeBasedTriggeringPolicy />-->
<!--                <SizeBasedTriggeringPolicy size="1 KB"/>-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy fileIndex="max" max="2"/>-->
<!--        </RollingFile>-->
<!--    </Appenders>-->
<!--    <Loggers>-->
<!--        <Logger name="com.opensymphony.xwork2" level="WAN"/>-->
<!--        <Logger name="org.apache.struts2" level="WAN"/>-->
<!--        <Root level="warn">-->
<!--            <AppenderRef ref="STDOUT"/>-->
<!--        </Root>-->
<!--    </Loggers>-->
<!--</Configuration>-->

<!--apache的log,kafka用的就是apache的日志实现框架，通过配置这个文件启动时能看到元数据和原配置-->
<Configuration status="error" strict="true" name="XMLConfig">

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout"
                    pattern="[%p] [%d{yyyy-MM-dd HH:mm:ss}][%c{10}]%m%n"/>
        </Appender>
    </Appenders>
    <Loggers>
        <Logger name="test" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>