<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis核心配置文件，名字随便起-->
<configuration>
    <!--引入外部配置文件,resource下不用再写文件位置了-->
    <properties resource="db.properties">
        <!--这里还能加，但是与外部冲突的时候外部的优先级更高-->
    </properties>

    <settings>
        <!--开启驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启日志，能选的很多去官网查查看，SLF4J | LOG4J常用 | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING标准 | NO_LOGGING-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <!--设置别名,给一个类一个类设置-->
        <typeAlias type="com.bsfit.suaf.pojo.Actor" alias="Actor"/>
        <!--扫描包，给别名，默认首字母大写，第一种能够自定义别名，这种不行-->
        <!--还想使用自定义别名，还行用包扫描，直接pojo上给注解也行@Alias-->
        <package name="com.bsfit.suaf.pojo"/>
    </typeAliases>
    <!--默认环境-->
    <environments default="development">
        <!--环境标签-->
        <environment id="development">
            <!--开启事务，两种JDBC和MANAGED-->
            <transactionManager type="JDBC"/>
            <!--数据源，连接数据库dbcp,C3P0,Druid连接池-->
            <!--数据源，POOLED,UNPOOLED,一个有池子，一个没有-->
            <dataSource type="POOLED">
                <!--配置,通过该属性使用引用的文件，能够在外部动态的替换-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://127.0.0.1:3306/sakila?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--映射-->
    <mappers>
        <!--扫描具体的xml，放哪都行，都能找到-->
        <mapper resource="com/bsfit/suaf/mapper/ActorMapper.xml"/>
        <mapper resource="com/bsfit/suaf/mapper/ActorChangeMapper.xml"/>
        <!--使用包内的映射器，接口和mapper文件必须同名同包-->
        <!--<package name="com.bsfit.suaf.mapper"/>-->
        <!--使用URL去找-->
        <!--<mapper class="D:\bangsun\gitspace\mybatis-parent\mybatis-study-two\src\main\java\com\bsfit\suaf\mapper\ActorMapper.xml"/>-->
        <!--使用类去找,接口和mapper文件必须同名同包,使用注解必须绑定-->
        <mapper class="com.bsfit.suaf.mapper.ActorAnnoMapper"/>
    </mappers>
</configuration>
